@use 'var';
@use 'sass:map';

$column-gap: 0 !default;
$row-gap: 0 !default;

@mixin breakpoint($breakpoint: null) {
    $query: map.get(var.$breakpoint-map, $breakpoint);

    @media #{$query} {
        @content;
    }
}

@mixin S() {
    @include breakpoint(S) {
        @content;
    }
}

@mixin M() {
    @include breakpoint(M) {
        @content;
    }
}

@mixin L() {
    @include breakpoint(L) {
        @content;
    }
}

@mixin XL() {
    @include breakpoint(XL) {
        @content;
    }
}
