$breakpoint-map: (
        S: 'screen and (max-width: 781px)',
        M: 'screen and (min-width: 782px) and (max-width: 1279px)',
        L: 'screen and (min-width: 1280px)',
        XL: 'screen and (min-width: 1400px)'
);
