$breakpoint-map: (
        S: 'screen and (max-width: 766px)',
        M: 'screen and (min-width: 767px) and (max-width: 1279px)',
        L: 'screen and (min-width: 1280px)',
        XL: 'screen and (min-width: 1400px)'
);
