@use 'mx';
@use 'var';
@use 'sass:math';
@use 'sass:map';

html {
    @include mx.S {
        font-size: 16px;
    }
    @include mx.M {
        font-size: 24px;
    }
    @include mx.L {
        font-size: 32px;
    }
}

:root {
    --column-gap: 2rem;
    --row-gap: 1rem;

    @include mx.S {
        --wp--preset--font-size--small: 0.8em;
        --wp--preset--font-size--medium: 1.2em;
        --wp--preset--font-size--large: 1.4em;
        --wp--preset--font-size--x-large: 2em;
        --wp--preset--font-size--huge: 2.4em;
        --wp--preset--font-size--normal: 16px;
    }
    @include mx.M {
        --wp--preset--font-size--small: 0.8em;
        --wp--preset--font-size--medium: 1.2em;
        --wp--preset--font-size--large: 1.8em;
        --wp--preset--font-size--x-large: 2.4em;
        --wp--preset--font-size--huge: 3em;
        --wp--preset--font-size--normal: 16px;
    }
    @include mx.L {
        --wp--preset--font-size--small: 0.8em;
        --wp--preset--font-size--medium: 1.2em;
        --wp--preset--font-size--large: 1.8em;
        --wp--preset--font-size--x-large: 2.4em;
        --wp--preset--font-size--huge: 3em;
        --wp--preset--font-size--normal: 16px;
    }
}

.body {
    font-family: var(--wp--preset--font-family--montserrat);
    font-size: var(--wp--preset--font-size--normal);
    color: var(--wp--preset--color--mono-black)
}

/**
 * Content
 */
.pageContent {
}

/**
 * Container
 */
.is-layout-constrained {
    @include mx.S {
        padding-left: 1rem;
        padding-right: 1rem;
    }
    @include mx.M {
        padding-left: 1rem;
        padding-right: 1rem;
    }
    @include mx.L {
    }
    & > * {
        @include mx.S {
            max-width: 100vw !important;
        }
        @include mx.M {
            max-width: 100vw !important;
        }
        @include mx.L {
        }
    }
}

/**
 * FOOTER
 */
.footer {
    display: flex;
    flex-wrap: wrap;
    row-gap: var(--row-gap);
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: var(--wp--preset--color--secondary1);
    color: var(--wp--preset--color--mono-black);
    &__container {
        display: flex;
        flex-wrap: wrap;
        position: relative;
        width: 100%;
    }
    &__info1 {
        @include mx.S {
            width: 100%;
            text-align: center;
        }
        @include mx.M {
            flex: 1;
        }
        @include mx.L {
            flex: 1;
        }
    }
    &__info2 {
        @include mx.S {
            width: 100%;
            text-align: center;
        }
        @include mx.M {
            flex: 1;
        }
        @include mx.L {
            flex: 1;
        }
    }
}

.footerSocial {
    height: 24px;
    text-align: center;
    @include mx.S {
    }
    @include mx.M {
        text-align: right;
    }
    @include mx.L {
        text-align: right;
    }
    &__link {
        display: inline-block;
        width: 24px;
        height: 24px;
        margin: 0 10px;
        will-change: opacity;
        transition: opacity 0.3s;
        &:last-child {
            @include mx.S {
            }
            @include mx.M {
                margin-right: 0 !important;
            }
            @include mx.L {
                margin-right: 0 !important;
            }
        }
    }
    &__icon {
        width: 24px;
        height: 24px;
        fill: var(--wp--preset--color--mono-white);
        margin-right: 0 !important;
    }
}

/**
 * ERRORS
 */
.error404 {
    padding-top: 40px;
    padding-bottom: 60px;
    &__header {
        text-align: center;
    }
}
