@use 'mx';
@use 'var';
@use 'sass:math';

/**
 * Message
 */
.message {
    list-style: none;
    padding: 0;
    margin: 40px auto;
    @include mx.S {
    }
    @include mx.M {
    }
    @include mx.L {
        max-width: 300px;
    }
    &__item {
        width: 100%;
        margin-bottom: 20px;
        text-align: center;
        &::before {
            display: none !important;
        }
        &--error {
            color: var(--wp--preset--color--error);
            .message__icon {
                fill: var(--wp--preset--color--error);
            }
        }
        &--warning {
            color: var(--wp--preset--color--warning);
            .message__icon {
                fill: var(--wp--preset--color--warning);
            }
        }
        &--info {
            color: var(--wp--preset--color--info);
            .message__icon {
                fill: var(--wp--preset--color--info);
            }
        }
        &--success {
            color: var(--wp--preset--color--success);
            .message__icon {
                fill: var(--wp--preset--color--success);
            }
        }
    }
    &__icon {
        display: inline-block;
        width: 100px;
        height: 100px;
        margin-bottom: 20px;
    }
    &__text {
        font-weight: 700;
        font-size: 24px;
    }
}
