@use 'mx';
@use 'var';
@use 'sass:math';

.headerNav {
    position: relative;
    z-index: 999;
    font-size: 1em;
    &__wrapper {
        &--0 {
            position: relative;
        }
        &--1 {
        }
    }
    &__items {
        &--0 {
            display: flex;
            position: relative;
        }
        &--1 {
            position: absolute;
            top: 85px;
            right: 10px;
            display: none;
            min-width: 200px;
            flex-direction: column;
            padding: 10px 20px;
            background-color: var.$colorWhite;
            box-shadow: 0 0 20px 0 rgba(var.$colorBlack, 0.3);
        }
        &--2 {
            display: none;
            position: absolute;
            top: 0;
            left: 240px;
            min-height: 320px;
            padding: 30px;
            background-color: var.$colorSecond;
            border-left: 1px solid var.$colorMain;
        }
    }
    &__item {
        &--0 {
            margin-right: 6px;
            margin-left: 6px;
            position: relative;
            &::before {
                content: '';
                opacity: 0;
                position: absolute;
                bottom: 45px;
                left: 10px;
                display: block;
                width: 28px;
                height: 4px;
                background-color: var.$colorMain;
            }
            &:hover {
                & .headerNav__items--1 {
                    display: flex !important;
                }
                & .headerNav__link--0 {
                    color: var.$colorMain;
                }
            }
            &.headerNav__item--current,
            &.headerNav__item--currentParent,
            &.headerNav__item--currentType {
                &::before {
                    opacity: 1;
                }
            }
        }
        &--1 {
            display: block;
            border-bottom: 1px solid var.$colorMono2;
            width: 100%;
            text-align: right;
            &:last-child {
                border-bottom: none;
            }
            &.mainNav__item--hasChildren {
                &:hover {
                    & .mainNav__items--2 {
                        display: block !important;
                    }
                }
            }
        }
        &--2 {
            margin-bottom: 1em;
            &:hover {
                & .mainNav__link--2 {
                    color: var.$colorMain;
                }
            }
        }
    }
    &__link {
        will-change: color;
        transition: color 0.3s;
        color: var.$colorBlack;
        white-space: nowrap;
        font-weight: 500;
        &--0 {
            display: block;
            text-decoration: none;
            padding: 50px 10px;
            position: relative;
            &.headerNav__link--hasChildren {
                &::after {
                    content: '';
                    display: inline-block;
                    width: 8px;
                    height: 8px;
                    border-style: none none solid solid;
                    border-width: 2px;
                    border-color: var.$colorMain;
                    transform: rotate(-45deg);
                    margin-bottom: 2px;
                    margin-left: 2px;
                }
            }
        }
        &--1 {
            display: block;
            padding: 10px 0;
            position: relative;
            &.headerNav__link--current,
            &.headerNav__link--currentParent,
            &.headerNav__link--currentType {
                color: var.$colorMain;
            }
        }
        &--2 {
            display: block;
        }
        &--current,
        &--currentParent,
        &--currentType {
            &[href^="/#"] {
            }
        }
    }
}

.footerNav {
    &__items {
        &--0 {
            display: flex;
            flex-wrap: wrap;
            @include mx.S {
                flex-direction: column;
                align-items: center;
            }
            @include mx.M {
            }
            @include mx.L {
            }
        }
        &--1 {
        }
    }
    &__item {
        &--0 {
            margin-bottom: 0.5em;
            @include mx.S {
            }
            @include mx.M {
                margin-right: 2em;
            }
            @include mx.L {
                margin-right: 2em;
            }
        }
        &--1 {
        }
    }
    &__link {
        white-space: nowrap;
        &--0 {
        }
        &--1 {
        }
        &--inactive {
            opacity: 0.5;
            cursor: not-allowed;
        }
        &--hidden {
            display: none;
        }
    }
}
