@use 'mx';
@use 'var';
@use 'sass:math';

/**
 * Fix columns
 */
.wp-block-columns {
    column-gap: var(--column-gap) !important;
    row-gap: var(--row-gap) !important;
    .wp-block-column {
    }
}

/**
 * Fix group
 */
.wp-block-group {
    position: relative;
    z-index: 30;
    &__inner-container {
        width: 100%;
        position: relative;
        z-index: 30;
    }
}

/**
 * Fix image
 */
.wp-block-image {
    img {
        width: 100%;
        height: auto;
    }
}

/**
 * Fix Media Text
 */
.wp-block-media-text {
    display: grid !important;

    & > .wp-block-media-text__content {
        padding: var(--row-gap) var(--column-gap);
        @include mx.S {
        }
        @include mx.M {
        }
        @include mx.L {
            padding: calc(var(--row-gap) * 2) calc(var(--column-gap) * 2);
        }
    }

    // Fix padding in container
    &.container {
        .wp-block-media-text__content {
            padding-right: 0;
            padding-left: var(--column-gap);
        }
        &.has-media-on-the-right {
            .wp-block-media-text__content {
                padding-right: var(--column-gap);
                padding-left: 0;
            }
        }
    }

}

/**
 * Block Embed
 */
.wp-block-embed {
    &__wrapper {
        position: relative;
        padding-bottom: 56.25%; /* 16:9 */
        height: 0;
        iframe {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }
    }
}

